<template lang="pug">
a-select(
    :showSearch="true",
    :labelInValue="true",
    :allowClear="true",
    :value="value",
    placeholder="Select group",
    style="width: 100%",
    :filterOption="false",
    @search="fetchGroup",
    @focus="() => fetchGroup('')",
    :notFoundContent="fetching ? undefined : 'No groups found'",
    @change="(e) => $emit('change', e)"
)
    template(v-slot:notFoundContent="")
        a-spin(v-if="fetching", size="small")
    a-select-option(v-for="d in data", :key="d.value") {{ d.text }}
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import instance from "../../utils/axios";
import { Select, Spin } from "ant-design-vue";

@Component({
    components: {
        "a-spin": Spin,
        "a-select": Select,
        "a-select-option": Select.Option,
    },
})
export default class FormGroupField extends Vue {
    @Prop() value;
    private data = [];
    private fetching = false;

    private async fetchGroup(value) {
        this.data = [];
        this.fetching = true;
        try {
            const data = await instance.get(
                "/api/groups/?page=1&limit=15&search=" + value
            );
            this.data = data.data.data.map((group) => ({
                text: group.name,
                value: group.id,
            }));
        } finally {
            this.fetching = false;
        }
    }
}
</script>

<style scoped lang="sass">

.form-display-description
    margin-left: 4px
</style>
