<template lang="pug">
a-date-picker.w-100(:value="momentValue", @change="onChange", :format="format")
    .form-group
        label(:for="id") {{ label }}
        input.form-control(
            :class="{ 'is-invalid': !!errors.length }",
            :id="id",
            :name="name",
            :required="true",
            type="text",
            :value="stringValue",
            autocomplete="off"
        )
        p.invalid-feedback(v-for="error in errors") {{ error }}
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { DatePicker } from "ant-design-vue";
import moment from "moment";

@Component({
    name: "wtform-date-picker",
    components: { "a-date-picker": DatePicker },
})
export default class WtformDatePicker extends Vue {
    @Prop({ type: Array, default: [] }) errors: string;
    @Prop(String) value: string;
    @Prop(String) format: string;
    @Prop(Boolean) required: boolean;
    @Prop(String) label: string;
    @Prop(String) name: string;
    @Prop(String) id: string;

    momentValue: moment.Moment | null = null;
    stringValue: string;

    created() {
        this.momentValue = this.value ? moment(this.value) : null;
        this.stringValue = this.momentValue
            ? this.momentValue.format(this.format)
            : "";
    }
    onChange(dateMoment, dateString) {
        this.momentValue = dateMoment;
        this.stringValue = dateString;
    }
}
</script>
