<template>
    <a-button @click="share">
        <a-icon :component="telegramIcon"></a-icon>
        Share
    </a-button>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Button, Icon } from "ant-design-vue";
import TelegramIcon from "./TelegramIcon.vue";

@Component({
    components: {
        "a-button": Button,
        "a-icon": Icon,
    },
})
export default class TelegramShareButton extends Vue {
    @Prop() url: string;
    @Prop() text: string;
    telegramIcon = TelegramIcon;

    share() {
        const url = encodeURIComponent(this.url);
        const text = encodeURIComponent(this.text);
        window.open(`https://t.me/share/url?url=${url}&text=${text}`);
    }
}
</script>
