<template lang="pug">
loading-container(:active="loading")
    a-breadcrumb
        a-breadcrumb-item
            a(href="/") Home
        a-breadcrumb-item
            a(:href="newsUrl") News
        a-breadcrumb-item {{ title }}

    h1 {{ title }}

    a-form(:form="form", @submit.prevent="save")
        a-form-item(v-bind="formItemLayout", label="Dutch title")
            a-input(
                v-decorator="['title_nl', { rules: [{ required: true, message: 'Please enter the Dutch title.' }] }]"
            )

        a-form-item(v-bind="formItemLayout", label="English title")
            a-input(
                v-decorator="['title_en', { rules: [{ required: true, message: 'Please enter the English title.' }] }]"
            )

        a-form-item(v-bind="formItemLayout", label="Dutch content")
            vue-simple-mde(
                v-decorator="['content_nl', { rules: [{ required: true, message: 'Please enter the Dutch content.' }]}]"
            )

        a-form-item(v-bind="formItemLayout", label="English content")
            vue-simple-mde(
                v-decorator="['content_en', { rules: [{ required: true, message: 'Please enter the English content.' }]}]"
            )

        a-form-item(
            v-bind="formItemLayout",
            label="Publish date",
            extra="Date after which it will be visible for users."
        )
            a-date-picker(
                v-decorator="['publish_date', { rules: [{ required: true, message: 'Please enter the publish date.' }] }]"
            )
        a-form-item(v-bind="formItemLayout", label="Sponsored")
            a-checkbox(v-decorator="['sponsored', {valuePropName: 'checked'}]")
        a-form-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
        )
            a-button-group
                a-button(:href="returnUrl") Back
                a-button(type="primary", @click="save") Save
                a-button(type="primary", @click="saveAndRedirect") Save and view
        a-form-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
        )
            a-popconfirm(
                v-if="id",
                title="Are you sure you want to delete this news item?",
                @confirm="confirmDelete"
            )
                a-button(href="#", type="danger") Delete
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import moment from "moment";

import Flask from "../../utils/flask";
import VueSimpleMde from "../common/markdown-editor.vue";
import { validateAntForm } from "../../utils/form";
import { WrappedFormUtils } from "ant-design-vue/types/form/form";
import { newsApi, NewsItemBody } from "../../scripts/api/news";
import LoadingContainer from "../loading_container.vue";
import {
    Breadcrumb,
    Button,
    Checkbox,
    DatePicker,
    Form,
    Input,
    notification,
    Popconfirm,
} from "ant-design-vue";

@Component({
    components: {
        "vue-simple-mde": VueSimpleMde,
        "loading-container": LoadingContainer,
        "a-breadcrumb": Breadcrumb,
        "a-breadcrumb-item": Breadcrumb.Item,
        "a-form": Form,
        "a-form-item": Form.Item,
        "a-input": Input,
        "a-checkbox": Checkbox,
        "a-date-picker": DatePicker,
        "a-popconfirm": Popconfirm,
        "a-button-group": Button.Group,
        "a-button": Button,
    },
})
export default class EditNews extends Vue {
    private newsUrl = Flask.url_for("news.root");
    private loading = true;
    private form: WrappedFormUtils | null = null;
    private formItemLayout = {
        labelCol: {
            xs: { span: 24 },
            sm: { span: 5 },
        },
        wrapperCol: {
            xs: { span: 24 },
            sm: { span: 19 },
        },
    };

    get id(): number | null {
        return parseInt(this.$route.params.newsId) || null;
    }

    get title(): string {
        if (this.id) return "Edit news";
        return "Create news";
    }

    get returnUrl(): string {
        if (this.id) {
            return Flask.url_for("news.view", { news: this.id });
        } else {
            return Flask.url_for("news.root");
        }
    }

    created(): void {
        this.form = this.$form.createForm(this);
    }

    async mounted(): Promise<void> {
        try {
            if (this.id !== null) {
                const resp = (await newsApi.getNewsItem(this.id)).data;

                this.form!.setFieldsValue({
                    title_nl: resp.title.nl,
                    title_en: resp.title.en,
                    content_nl: resp.content.nl,
                    content_en: resp.content.en,
                    publish_date: moment(resp.publish_date),
                    sponsored: !!resp.sponsored,
                });
            }
        } finally {
            this.loading = false;
        }
    }

    private async save(): Promise<boolean> {
        if (this.loading) return false;
        let values;
        try {
            values = await validateAntForm(this.form!);
        } catch (e) {
            return false; // Form didn't validate
        }

        try {
            this.loading = true;
            const data = new NewsItemBody(
                values["title_en"],
                values["title_nl"],
                values["content_en"],
                values["content_nl"],
                values["publish_date"].format("YYYY-MM-DD"),
                values["sponsored"]
            );
            if (!this.id) {
                const resp = await newsApi.createNewsItem(data);
                // redirect in vue first, to make sure that the back button functions.
                await this.$router.replace({
                    name: "news-edit",
                    params: { newsId: resp.data.id.toString() },
                });
            } else {
                await newsApi.updateNewsItem(this.id, data);
            }
            await notification.success({
                message: "Success",
                description: "News successfully saved.",
            });
            return true;
        } finally {
            this.loading = false;
        }
    }

    public async saveAndRedirect(): Promise<void> {
        if (await this.save()) {
            // Wait 300ms to navigate to the next page, to show the notification.
            // The delay can be removed when the news.view page is in vue.
            setTimeout(
                (window.location.href = Flask.url_for("news.view", {
                    news: this.id,
                })),
                300
            );
        }
    }

    public async confirmDelete(): Promise<void> {
        if (this.id) {
            await newsApi.deleteNewsItem(this.id);
            window.location.href = "/news";
        }
    }
}
</script>
