<template lang="pug">
div
    declaration-form(@submit="regenerate_table")

    h3 {{ $t('submit') }}

    a-table(
        :columns="columns",
        :rowKey="(entry) => entry.id",
        :data-source="this.declarations"
    )
        template(v-slot:created="record")
            | {{ date(record) }}
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import {
    declarationApi,
    DeclarationOverviewResponse,
} from "../../scripts/api/declaration";
import Declaration from "./declaration.vue";
import { User } from "../../types/user";
import { date } from "../../scripts/formatters";
import { Table } from "ant-design-vue";

@Component({
    components: {
        "a-table": Table,
        "declaration-form": Declaration,
    },
    name: "declaration-overview",
    methods: { date: date },
})
export default class DeclarationOverview extends Vue {
    declarations: DeclarationOverviewResponse[] = [];
    user: User;
    columns = [
        {
            title: "Date",
            dataIndex: "created",
            key: "created",
            scopedSlots: { customRender: "created" },
        },
        {
            title: "Committee",
            dataIndex: "committee",
            key: "committee",
        },
        {
            title: "Amount",
            key: "amount",
            dataIndex: "amount",
            render: (amount) => `${amount}`,
            sorter: (a, b) => a.amount - b.amount,
        },
        {
            title: "Reason",
            key: "reason",
            dataIndex: "reason",
        },
    ];

    async mounted() {
        this.declarations = (await declarationApi.getDeclarations()).data;
    }

    public async regenerate_table() {
        this.declarations = (await declarationApi.getDeclarations()).data;
    }
}
</script>

<i18n>
{
    "en": {
        "submit": "Submitted declarations"
    },
    "nl": {
        "submit": "Ingediende declaraties"
    }
}
</i18n>

<style lang="sass">
.icon
    margin: 5px
</style>
