@import "bootstrap/scss/variables";

.user-profile-container {
    .user-image {
        border: 2px solid $light;
        width: 75px;
        height: 75px;
        object-fit: cover;
        border-radius: calc(75px / 2);
    }
}
