@use "sass:math";

.signup-nav-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5em;
}

.signup-nav {
    $width: 300px;

    $steps: 3;
    $step-size: 13px;
    $step-line-width: math.div($width - ($step-size * $steps), $steps - 1);
    $step-line-height: 2px;

    .item {
        float: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: $step-size;

        .step {
            width: $step-size;
            height: $step-size;
            border-radius: $step-size * 0.5;
            border-color: $gray-500;
            border-width: 2px;
            border-style: solid;
            vertical-align: middle;
            text-align: center;

            transition: border-color 0.15s ease-in-out;
        }

        .text {
            width: 100px;
            font-size: 14px;
            color: $gray-600;
            font-weight: lighter;

            word-wrap: break-word;
            text-align: center;

            transition: color 0.15s ease-in-out;
        }

        &.active {
            .step {
                border-color: $via-blue;
            }

            .text {
                color: $via-blue;
                font-weight: 500;
            }
        }

        &.warning {
            .step {
                border-color: $red;
            }

            .text {
                color: $red;
                font-weight: 500;
            }
        }
    }

    .line {
        display: inline-block;
        float: left;
        line-height: $step-size;

        div {
            margin-top: $step-size * 0.5 - $step-line-height * 0.5;
            width: $step-line-width;
            height: $step-line-height;
            background-color: $gray-500;

            @media (max-width: 768px) {
                $width: 200px;
                $step-line-width: math.div(
                    $width - ($step-size * $steps),
                    $steps - 1
                );
                width: $step-line-width;
            }
        }

        &.active {
            div {
                background-color: $via-blue;
            }
        }

        &.warning {
            div {
                background-color: $red;
            }
        }
    }
}

#btn-sign-up-manual {
    //margin-top: 1em;
}

#signup-other-options-label {
    color: #304ba3;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
        color: #2e4c9c;
    }
}

#show-other-options {
    display: none;
}

#signup-other-options {
    display: none;
}

#show-other-options:checked ~ #signup-other-options {
    display: block;
}

.signup-manual-button {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.signup-manual-warning {
    font-style: italic;
    font-size: 14px;

    .fas {
        padding-right: 1px;
    }
}
