.uvanetid-sign-in-btn {
    background-color: #1f1d21;
    border: none;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;

    overflow: hidden;
    position: relative;
    height: 90px;
}

.uvanetid-sign-in-btn:hover,
.uvanetid-sign-in-btn:active,
.uvanetid-sign-in-btn:focus {
    background-color: #1f1d21;
}

.uvanetid-sign-in-text-bg {
    background-color: #bc0031;
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100% - 84px);
    height: 100px;
    font-size: 120%;
    padding-top: 30px;
}

.uvanetid-sign-in-text {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 84px;
    width: calc(100% - 84px);
    text-align: center;
    font-size: 120%;
    padding-top: 30px;
    z-index: 3;
}

.uvanetid-sign-in-hover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.uvanetid-sign-in-hover {
    z-index: 4;
}

.uvanetid-sign-in-hover:hover ~ .uvanetid-sign-in-text-bg {
    background-color: #910328;
}

.uvanetid-sign-in-tag {
    height: 60px;
    position: absolute;
    left: 0;
    margin-left: 20px;
    z-index: 3;
}

.uvanetid-sign-in-tag-small {
    @extend .uvanetid-sign-in-tag;
    height: 45px;
    top: 0;
    margin-left: 14px;
    margin-top: 9px;
}

.uvanetid-sign-in-text-small {
    @extend .uvanetid-sign-in-text;
    width: calc(100% - 60px);
    margin-left: 60px;
}

@media (min-width: 768px) {
    .uvanetid-sign-in-text-small {
        font-size: small;
        padding-top: 20px;
    }
}

@media (max-width: 768px) {
    .uvanetid-sign-in-text-small {
        padding-top: 17px;
    }
}

.uvanetid-sign-in-text-bg-small {
    @extend .uvanetid-sign-in-text-bg;
    width: calc(100% - 60px);
}
.uvanetid-sign-in-btn-small {
    @extend .uvanetid-sign-in-btn;
    height: 60px;
}

.uvanetid-sign-in-conditions {
    font-size: 12px;
}
