<template lang="pug">
div
    a-breadcrumb
        a-breadcrumb-item
            a(href="/admin") Admin
        a-breadcrumb-item
            router-link(:to="{ name: 'newsletter-overview' }") {{ $t('nav.overview') }}
        template(v-if="id")
            a-breadcrumb-item {{ date(created) }}
            a-breadcrumb-item {{ $t('Edit') }}
        template(v-else="")
            a-breadcrumb-item {{ $t('Create') }}
    h1(v-if="!id") {{ $t('header.create') }}
    h1(v-if="id") {{ $t('header.edit') }}
    h3 {{ $t('subheader.activities') }}
    a-list(item-layout="vertical", :loading="loading", size="small")
        transition-group(name="flip-news-items")
            edit-newsletter-item.flip-news-items(
                v-for="(activity, index) in activityData",
                :key="activity.obj.id",
                v-model="activity.overwrite_text",
                :original="{...activity.obj.description, modified: activity.obj.modified}",
                @up="move(activityData, index, -1)",
                @down="move(activityData, index, 1)",
                @delete="remove(activityData, index)",
                @save="save"
            )
                template(v-slot:title="")
                      a(
                            target="_blank"
                            :href="Flask.url_for(\"activity.get_activity\", { activity: activity.obj.id })"
                    )
                            | {{ activity.obj.name.en }} - {{ activity.obj.name.nl }} ({{ datetime(activity.obj.start_time) }})
        template(v-slot:footer="")
            form-activity-field(@change="(e) => select(activityData, e)")
    h3 {{ $t('subheader.news') }}
    a-list(item-layout="vertical", :loading="loading", size="small")
        transition-group(name="flip-news-items")
            edit-newsletter-item.flip-news-items(
                v-for="(newsItem, index) in newsData",
                :key="newsItem.obj.id",
                v-model="newsItem.overwrite_text",
                :original="{...newsItem.obj.content, modified: newsItem.obj.modified}",
                @up="move(newsData, index, -1)",
                @down="move(newsData, index, 1)",
                @delete="remove(newsData, index)",
                @save="save"
            )
                template(v-slot:title="")
                    a(
                        target="_blank"
                        :href="Flask.url_for(\"news.view\", { news: newsItem.obj.id })"
                    )
                        | {{ newsItem.obj.title.en }} - {{ newsItem.obj.title.nl }} ({{ datetime(newsItem.obj.publish_date) }})
        template(v-slot:footer="")
            form-news-field(@change="(e) => select(newsData, e)")
    h3 {{ $t('subheader.greetings') }}
    a-list(item-layout="vertical", :loading="loading", size="small")
        transition-group(name="flip-news-items")
            edit-newsletter-greeting(
                v-for="(greeting, index) in greetingData",
                :key="index + 1",
                :index="index",
                v-model="greeting.data",
                @up="move(greetingData, index, -1)",
                @down="move(greetingData, index, 1)",
                @delete="remove(greetingData, index)",
                @save="save"
            )
        template(v-slot:footer="")
            a-button(
                @click="greetingData.push({ data: { en: '', nl: '', sender: '' } })"
            )
                | {{ $t('greeting.create') }}
    a-button-group
        a-button(type="primary", @click="save") {{ $t('Save') }}
        telegram-share-button(:url="url", :text="shareText")
</template>

<style lang="scss" scoped>
.flip-news-items {
    transition: all 0.5s;
}

.flip-news-items-enter,
.flip-news-items-leave-to {
    opacity: 0;
    transform: translateX(30px);
}
</style>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import {
    Alert,
    Breadcrumb,
    Button,
    Icon,
    Input,
    List,
    notification,
    Spin,
} from "ant-design-vue";
import FormActivityField from "../form/form_activity_field.vue";
import FormNewsField from "../form/form_news_fields.vue";
import { newsApi } from "../../scripts/api/news";
import EditNewsletterItem from "./EditNewsletterItem.vue";
import TelegramShareButton from "../util/TelegramShareButton.vue";
import Flask from "../../utils/flask";
import EditNewsletterGreeting from "./EditNewsletterGreeting.vue";
import { date, datetime } from "../../scripts/formatters";

@Component({
    components: {
        "form-activity-field": FormActivityField,
        "form-news-field": FormNewsField,
        "edit-newsletter-item": EditNewsletterItem,
        "edit-newsletter-greeting": EditNewsletterGreeting,
        "a-spin": Spin,
        "a-breadcrumb": Breadcrumb,
        "a-breadcrumb-item": Breadcrumb.Item,
        "a-button": Button,
        "a-button-group": Button.Group,
        "a-list": List,
        "a-list-item": List.Item,
        "a-list-item-meta": List.Item.Meta,
        "a-icon": Icon,
        "a-alert": Alert,
        "a-input": Input,
        "telegram-share-button": TelegramShareButton,
    },
    methods: { date: date, datetime: datetime },
})
export default class EditNewsletter extends Vue {
    activityData: any[] = [];
    newsData: any[] = [];

    greetingData: { data: { en: string; nl: string; sender: string } }[] = [];
    created = "";

    activityCollapse = 0;
    newsCollapse = 0;
    loading = true;
    telegramLogo = TelegramShareButton;
    Flask = Flask;

    move(array, index, direction) {
        const newIdx = index + direction;
        // Cannot move first and last entry.
        if (newIdx < 0 || newIdx >= array.length) {
            return;
        }
        const [activity] = array.splice(index, 1);
        array.splice(index + direction, 0, activity);
        this.save();
    }

    select(array, item) {
        if (array.find((x) => x.obj.id == item.id)) {
            return;
        }
        array.push({ obj: item, overwrite_text: { nl: "", en: "" } });
        this.save();
    }

    remove(array, index) {
        array.splice(index, 1);
        this.save();
    }

    get id() {
        return parseInt(this.$route.params["newsletterId"]) || null;
    }

    get url() {
        return window.location.href;
    }

    get overviewUrl() {
        return Flask.url_for("newsletter.root");
    }

    get shareText() {
        const text = [
            "Lieve medebestuursleden, ik presenteer de inhoud & volgorde van de nieuwsbrief, hebben jullie nog opmerkingen?",
            "",
            "Nieuwsberichten:",
        ];

        for (const news of this.newsData) {
            text.push(` - ${news.obj.title.en} - ${news.obj.title.nl}`);
        }
        text.push("");
        text.push("Activiteiten:");
        for (const activity of this.activityData) {
            text.push(` - ${activity.obj.name.en} - ${activity.obj.name.nl}`);
        }

        return text.join("\n");
    }

    async mounted() {
        try {
            let created, activities, news, greetings;
            if (this.id !== null) {
                ({ created, activities, news, greetings } = (
                    await newsApi.getNewsletter(this.id)
                ).data);

                this.created = created;
            } else {
                ({ activities, news } = (
                    await newsApi.getInitialNewsletter()
                ).data);
                greetings = [];
            }
            this.activityData = activities;
            this.newsData = news;
            this.greetingData = greetings.map((x) => {
                return { data: x };
            });
        } finally {
            this.loading = false;
        }
    }

    private async save() {
        if (this.loading) return;
        const newsRequestData = this.newsData.map((e) => ({
            item_id: e.obj.id,
            overwrite_text: e.overwrite_text,
        }));
        const activityRequestData = this.activityData.map((e) => ({
            item_id: e.obj.id,
            overwrite_text: e.overwrite_text,
        }));

        const greetingRequestData = this.greetingData.map((x) => x.data);

        try {
            if (this.id) {
                await newsApi.updateNewsletter(
                    this.id,
                    newsRequestData,
                    activityRequestData,
                    greetingRequestData
                );
            } else {
                const resp = (
                    await newsApi.createNewsletter(
                        newsRequestData,
                        activityRequestData,
                        greetingRequestData
                    )
                ).data;
                this.created = new Date().toString();
                this.$router.replace({
                    name: "newsletter-edit",
                    params: { newsletterId: resp.id.toString() },
                });
            }

            await notification.destroy();
            notification.success({
                message: "Success",
                description: "Newsletter successfully saved.",
            });
        } finally {
            this.loading = false;
        }
    }
}
</script>

<i18n src="./newsletter.json"></i18n>
