<template lang="pug">
a-dropdown.btn
    a#pimpy_task.dropdown-toggle(
        :class="[statusClass, { loading: isStatusLoading }]"
    )
        span(v-if="isStatusLoading")
            i.fas.fa-spinner.fa-spin.fa-lg
        span(v-if="!isStatusLoading")
            | {{ value.b32_id }}
    template(v-slot:overlay="")
        a-menu
            a-menu-item(
                v-for="(statusDetail, statusId) in statusDetails",
                :key="statusId",
                :class="statusDetail.class",
                @click="setStatus(statusId)"
            )
                | {{ statusDetail.text }}
</template>
<style lang="sass" scoped>
input
    width: 100%

.dropdown-item
    cursor: pointer

a
    white-space: nowrap
</style>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { pimpyApi, Task } from "../../scripts/api/pimpy";
import { Collapse, Dropdown, Menu } from "ant-design-vue";

interface PimpyTaskStatusDetails {
    text: string;
    class: string;
}

@Component({
    name: "pimpy-status-task",
    components: {
        "a-collapse-panel": Collapse.Panel,
        "a-dropdown": Dropdown,
        "a-menu": Menu,
        "a-menu-item": Menu.Item,
    },
})
export default class PimpyTaskStatus extends Vue {
    @Prop() value: Task;

    private isStatusLoading = false;

    private statusDetails: Record<
        "new" | "started" | "done" | "remove",
        PimpyTaskStatusDetails
    > = {
        new: {
            text: "Not started",
            class: "bg-info",
        },
        started: {
            text: "Started",
            class: "bg-warning",
        },
        done: {
            text: "Done",
            class: "bg-success",
        },
        remove: {
            text: "Not Done",
            class: "bg-danger",
        },
    };

    get statusClass() {
        return this.statusDetails[this.value.status].class;
    }

    public async setStatus(status: string) {
        try {
            this.isStatusLoading = true;
            const resp = (
                await pimpyApi.updateTask(this.value.b32_id, {
                    status: status,
                })
            ).data;

            this.$emit("change", resp);
        } finally {
            this.isStatusLoading = false;
        }
    }
}
</script>
