{% extends "base.htm" %}

{% from "macros/form.htm" import render_form %}
{% from "user/macros/uvanetid.htm" import render_uvanetid_signin_button %}
{% from "user/macros/signup_nav.htm" import render_signup_nav %}

{% block title %}{{ _('Sign up') }}{% endblock %}

{% block page %}

    <div class="row">
        <div class="col">
            {{ render_signup_nav(step=1) }}

            {{ render_uvanetid_signin_button(_('Sign up with UvAnetID'),
                href=url_for('saml.sign_up'), conditions=True,
                privacy_policy_url=privacy_policy_url) }}

            <br>
            <br>
            <label for="show-other-options" id="signup-other-options-label">
                {{ _('Other options...') }}
            </label>
            <input type="radio" id="show-other-options" autocomplete="off">

            <div id="signup-other-options">
                <a class="btn btn-primary signup-manual-button"
                   href="{{ url_for('signup.sign_up_manual') }}">
                    {{ _('Manually enter your information') }}
                </a>
                <p class="signup-manual-warning">
                    <i class="fas fa-sm fa-exclamation-triangle"></i>
                    {{ _('By manually entering your information we cannot let you pay the membership fee on the website, and we cannot get your relevant programmes and courses.
Your account has to be manually activated by the board.') }}
                </p>
            </div>
        </div>
    </div>

{% endblock %}
