<template lang="pug">
div
    a-breadcrumb
        a-breadcrumb-item
            a(:href="adminUrl") Admin
        a-breadcrumb-item
            router-link(:to="{ name: 'mailinglists-overview' }") Mailing lists
        a-breadcrumb-item(v-if="!mailingListId") Create
        a-breadcrumb-item(v-if="mailingListId") Edit

    h1(v-if="!mailingListId") Create mailing list
    h1(v-if="mailingListId") Edit mailing list - {{ form.getFieldValue[locale + 'name'] }}

    a-form(:form="form", @submit.prevent="save")
        a-form-item(v-bind="formItemLayout", label="Dutch name")
            a-input(
                v-decorator="['nl_name', { rules: [{ required: true, message: 'Please enter the Dutch name.' }]}]"
            )
        a-form-item(
            v-bind="formItemLayout",
            label="Dutch description",
            extra="Should contain a small description of mailing's content and send frequency."
        )
            a-input(
                v-decorator="['nl_description', { rules: [{ required: true, message: 'Please enter the Dutch description.' }]}]"
            )
        a-form-item(v-bind="formItemLayout", label="English name")
            a-input(
                v-decorator="['en_name', { rules: [{ required: true, message: 'Please enter the English name.' }]}]"
            )
        a-form-item(
            v-bind="formItemLayout",
            label="English description",
            extra="Should contain a small description of mailing's content and send frequency."
        )
            a-input(
                v-decorator="['en_description', { rules: [{ required: true, message: 'Please enter the English description.' }]}]"
            )
        a-form-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
        )
            a-alert(
                v-if="mailingListId",
                banner,
                type="warning",
                message="Only change the Copernica column name if you also update the data in Copernica. The website does not automatically migrate the existing user preferences of the mailing list to the new Copernica column. "
            )
        a-form-item(
            v-bind="formItemLayout",
            label="Copernica column name",
            extra="Value needs to start with a letter, and can only contain letters, numbers, and underscores."
        )
            a-input(
                v-decorator="['copernica_column_name', { rules: [{ required: true, message: 'Please enter the Copernica column name.' }, {validator: copernicaColumnValidation}]}]"
            )

        a-form-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 5 } } }"
        )
            a-checkbox(
                v-decorator="['members_only',  {valuePropName: 'checked', initialValue: false}]"
            ) Only allow members
        a-form-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 5 } } }"
        )
            a-checkbox(
                v-decorator="['default',  {valuePropName: 'checked', initialValue: false}]"
            ) Default for new users
            | Add mailing list to subscribed mailing lists by default when a new user registers.

        a-form-item(
            v-if="mailingListId",
            v-bind="formItemLayout",
            label="Copernica unsubscribe link",
            extra="Use this HTML code in the HTML templates for this mailing list as the unsubscribe link."
        )
            a-textarea(
                ref="unsubscribeLinkHTMLTextarea",
                :value="unsubscribeLinkHTML()",
                :autoSize="{ maxRows: 10 }",
                readOnly
            )
            a-button(@click="copyUnsubscribeLinkHTML", type="default") Copy

        a-form-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
        )
            a-button-group
                router-link(
                    :to="$route.meta.from || { name: 'mailinglists-overview' }",
                    v-slot="{ href, navigate}"
                )
                    a-button(:href="href", @click="navigate")
                        | Back
                a-button(type="primary", html-type="submit") Submit
</template>

<script lang="ts">
import { Component, Inject } from "vue-property-decorator";
import Vue from "vue";
import instance from "../../utils/axios";
import Flask from "../../utils/flask";
import { copernicaColumnValidation, validateAntForm } from "../../utils/form";
import { WrappedFormUtils } from "ant-design-vue/types/form/form";
import {
    Alert,
    Breadcrumb,
    Button,
    Checkbox,
    Form,
    Input,
    notification,
} from "ant-design-vue";

@Component({
    methods: { copernicaColumnValidation: copernicaColumnValidation },
    components: {
        "a-form": Form,
        "a-form-item": Form.Item,
        "a-input": Input,
        "a-alert": Alert,
        "a-checkbox": Checkbox,
        "a-textarea": Input.TextArea,
        "a-button": Button,
        "a-button-group": Button.Group,
        "a-breadcrumb": Breadcrumb,
        "a-breadcrumb-item": Breadcrumb.Item,
    },
})
export default class EditMailingListForm extends Vue {
    @Inject() locale!: string;
    private loading = false;
    private form: WrappedFormUtils | null = null;
    private formItemLayout = {
        labelCol: {
            xs: { span: 24 },
            sm: { span: 5 },
        },
        wrapperCol: {
            xs: { span: 24 },
            sm: { span: 19 },
        },
    };

    created() {
        this.form = this.$form.createForm(this);
    }

    async mounted() {
        if (this.mailingListId) {
            const resp = await instance.get(
                Flask.url_for("api.mailinglist", {
                    mailinglist_id: this.mailingListId,
                })
            );
            delete resp.data.id;
            this.form!.setFieldsValue(resp.data);
            this.$forceUpdate();
        }
    }

    private unsubscribeLinkHTML(): string {
        const url = Flask.url_for("copernica.unsubscribed_landingpage", {
            _external: true,
            mailinglist_id: this.mailingListId,
            profile_id: "{$profile.id}",
            profile_secret: "{$profile.secret}",
        });
        return (
            '<a href="' +
            url +
            '"\n' +
            '    data-script="profile.fields.' +
            this.form!.getFieldValue("copernica_column_name") +
            " = 'Nee';\">\n" +
            "    Unsubscribe\n</a>"
        );
    }

    get mailingListId() {
        return this.$route.params["mailingListId"];
    }

    private async save() {
        this.loading = true;
        let values;
        try {
            values = await validateAntForm(this.form!);
        } catch (e) {
            return; // Form didn't validate
        }

        try {
            if (!this.mailingListId) {
                const resp = await instance.post(
                    Flask.url_for("api.mailinglists", {}),
                    values
                );

                this.$router.replace({
                    name: "mailinglist-edit",
                    params: { mailingListId: resp.data.id },
                });
            } else {
                await instance.put(
                    Flask.url_for("api.mailinglist", {
                        mailinglist_id: this.mailingListId,
                    }),
                    values
                );
            }
            notification.success({
                message: "Success",
                description: "Mailinglist successfully saved.",
            });
        } finally {
            this.loading = false;
        }
    }

    private copyUnsubscribeLinkHTML() {
        const text = (this.$refs.unsubscribeLinkHTMLTextarea as Vue)
            .$el as HTMLTextAreaElement;
        text.select();
        text.setSelectionRange(0, 99999);
        document.execCommand("copy");

        // Deselect the text again
        text.setSelectionRange(0, 0);
    }

    get adminUrl() {
        return Flask.url_for("admin.view");
    }
}
</script>

<style lang="sass" scoped>
#unsubscribe-html
    word-break: break-all
</style>
