{% extends "base.htm" %}

{% from "macros/pagination.htm" import render_pagination %}

{% block title %}
    {{  _('Activities') }} {% if archive %}{{ _('archive') }}{% endif %}
{% endblock %}

{% block page %}
<div class="row">
    <div class="col-md-12">
        <div class="btn-group">
            {% if can_write %}
                <a href="{{ url_for('activity.create_pretix') }}" class="btn btn-success">
                    <i class="fas fa-plus"></i>
                    {{ _('New activity') }}
                </a>
            {% endif %}

            {% if archive == 'archive' %}
                <a href="{{ url_for('activity.view') }}" class="btn btn-info">
                    {{ _('Show upcoming') }}
                </a>
            {% else %}
                <a href="{{ url_for('activity.view', archive='archive') }}"
                   class="btn btn-light">
                    {{ _('Show archive') }}
                </a>
            {% endif %}

            <a href="{{ settings.events_calendar_add_calendar_url }}"
               target="_blank" class="btn btn-primary">
                <i class="fab fa-google"></i>
                <span class="d-none d-sm-inline-block">{{ _('Add to Google Calendar') }}</span>
            </a>

            <a href="{{ settings.events_calendar_ics_url }}"
               target="_blank" class="btn btn-primary">
                <i class="far fa-calendar-alt"></i>
                <span class="d-none d-sm-inline-block">{{ _('iCal') }}</span>
            </a>

            <a href="{{ url_for('activity.rss', locale=get_locale()) }}"
               target="_blank" class="btn btn-primary">
                <i class="fas fa-rss"></i>
                <span class="d-none d-sm-inline-block">{{ _('RSS') }}</span>
            </a>

            <form action="{{ url_for('activity.view', archive=archive) }}" class="form-inline ml-auto">
                <div class="input-group">
                    <input name="search" id="search" class="form-control"
                           type="text"
                           placeholder="{{ _('Search activities') }}"
                           value="{{ search }}">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-search" id="submit"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-md-12">

    {% for activity in activities.items %}
        <div class="activity-card card mb-3">
            <a class="activity-picture" href="{{ activity.activity_url }}">
                <img class="card-img" style="object-fit:contain" alt="Activity thumbnail" src="{{ activity.picture_url }}">
            </a>
            <div>
                <div class="card-body pb-2 activity-content">
                    <div class="activity-title mb-2">
                        <h5 class="card-title mb-0"><a href="{{ activity.activity_url }}">{{ activity.title }}</a></h5>
                        {{ activity.formatted_time }} <small class="activity-time-relative text-muted">{{ activity.relative_time }}</small>
                    </div>

                    <div class="activity-text mb-2">
                        <div class="card-text">
                            {{ activity.description
                               | markdown_summary(600,
                                                 truncate_method="word",
                                                 read_more=" ...") }}
                        </div>
                    </div>

                    <div class="activity-details">
                        <p class="card-text">
                            <small class="text-muted">
                                {{ activity.formatted_price }} -
                                {% if activity.location_is_url %}
                                    <a href="{{ activity.location }}" target="_blank" rel="noopener" >
                                        {{ activity.location_name }}
                                    </a>
                                {% else %}
                                    <span>{{ activity.location_name }}</span>
                                {% endif %}
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <hr />
    {{ render_pagination(activities, 'activity.view', archive=archive, search=search) }}

    </div>
</div>
{% endblock %}
