<template lang="pug">
div
    h1 Manage companies

    router-link.btn.btn-success(:to="{ name: 'edit-company' }") Create company
    form.form-inline
        .form-group
            label Start date
            input.form-control(
                type="date",
                v-model="filterStartDate",
                @change="rerenderChart"
            )
        .form-group
            label End date
            input.form-control(
                type="date",
                v-model="filterEndDate",
                @change="rerenderChart"
            )
        .checkbox
            label
                input(
                    type="checkbox",
                    v-model="filterActive",
                    @change="rerenderChart"
                )
                | Active only

    p(v-show="tableData.length === 1") No data
    #company-timeline.col-md-12
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import Vue from "vue";
import { Company, CompanyModuleType } from "../../types/company";
import instance from "../../utils/axios";
import Flask from "../../utils/flask";
import EditCompanyForm from "./edit_company.vue";
import { GoogleCharts } from "../../utils/google-charts";

@Component({ name: "admin-overview", components: { EditCompanyForm } })
export default class AdminOverview extends Vue {
    private rawCompanies: Company[] = [];
    private chart;

    private filterActive = true;
    private filterStartDate = "";
    private filterEndDate = "";

    async created() {
        await this.getCompanies();

        GoogleCharts.load(
            async () => {
                this.chart = new GoogleCharts.api.visualization.Timeline(
                    document.getElementById("company-timeline")
                );
                GoogleCharts.api.visualization.events.addListener(
                    this.chart,
                    "select",
                    this.selectChartElement
                );
                await this.rerenderChart();
            },
            { packages: ["timeline"] }
        );
    }

    private async getCompanies() {
        const resp = await instance.get(Flask.url_for("api.companies", {}));
        this.rawCompanies = resp.data;
    }

    private selectChartElement() {
        const table_idx = this.chart.getSelection()[0]["row"] + 1;
        this.$router.push({
            name: "edit-company",
            params: { companyId: this.tableData[table_idx][0] },
        });
    }

    private async rerenderChart() {
        await this.getCompanies();

        const view = new GoogleCharts.api.visualization.DataView(
            GoogleCharts.api.visualization.arrayToDataTable(this.tableData)
        );
        view.setColumns([1, 2, 3, 4]);
        const height = this.tableData.length * 41 + 40;
        this.chart.draw(view, {
            width: "100%",
            height: height,
            chartArea: {
                width: "100%",
                height: "100%",
            },
        });
    }

    get tableData() {
        const data: any = [];

        const filterStartDate = new Date(this.filterStartDate);
        const filterEndDate = new Date(this.filterEndDate);

        if (!this.filteredCompanies.length) return data;

        data.push([
            { label: "Id", type: "number" },
            { label: "Company", type: "string" },
            { label: "Contract period", type: "string" },
            { label: "start", type: "date" },
            { label: "end", type: "date" },
        ]);
        for (const company of this.filteredCompanies) {
            let start = new Date(company.contract_start_date);
            let end = new Date(company.contract_end_date);

            if (end < filterStartDate) continue;
            if (start > filterEndDate) continue;
            if (start < filterStartDate) start = filterStartDate;
            if (end > filterEndDate) end = filterEndDate;
            if (start < end)
                data.push([
                    company.id,
                    company.name,
                    CompanyModuleType.Company,
                    start,
                    end,
                ]);
        }
        return data;
    }

    get filteredCompanies() {
        if (this.filterActive) {
            return this.rawCompanies
                .filter((c) => this.filterActive && c.active)
                .sort((a, b) =>
                    a.name.toLowerCase() > b.name.toLowerCase() ? 1 : -1
                );
        } else {
            return this.rawCompanies.sort((a, b) =>
                a.name.toLowerCase() > b.name.toLowerCase() ? 1 : -1
            );
        }
    }
}
</script>

<style scoped lang="sass"></style>
