<template lang="pug">
keep-alive
    div
        a-breadcrumb
            a-breadcrumb-item
                a(href="/")
                    | {{ $t('breadcrumb.index') }}
            a-breadcrumb-item
                router-link(:to="{ name: 'company' }")
                    | {{ $t('Partners') }}
            a-breadcrumb-item
                | {{ $t('Jobs') }}

        h1 {{ $t('Jobs') }}

        a-row(:gutter="[16, 16]", style="margin-top: 1rem;")
            a-col(:xs="24", :md="6")
                h4 {{ $t('Filter') }}
                a-input-search(
                    :placeholder="$t('Search job')",
                    v-model="search"
                )

                h5(style="margin-top: 1rem;") {{ $t('Type') }}
                a-checkbox-group.contract_of_service(
                    v-model="filterType",
                    :options="availableContracts"
                )

            a-col(:xs="24", :md="18")
                loading-container(:active="loading")
                    a-empty(v-if="companyJobs.length === 0")

                    CompanyJobListElement(
                        v-for="job in companyJobs",
                        :key="job.id",
                        :job="job"
                    )

                    a-pagination(
                        v-model="page",
                        :total="total",
                        :hideOnSinglePage="true"
                    )
</template>

<i18n src="./company.json"></i18n>

<script lang="ts">
import { Component, Inject, Watch } from "vue-property-decorator";
import { companyApi } from "../../scripts/api/company";
import CompanyJobListElement from "./company_job_list_element.vue";
import EditCompanyForm from "./edit_company.vue";
import { CompanyJobs, CompanyJobBase } from "../../types/company";
import Flask from "../../utils/flask";
import { VuePaginatedAnt } from "../../utils/VuePaginatedAnt";
import {
    Breadcrumb,
    Checkbox,
    Col,
    Empty,
    Input,
    Pagination,
    Row,
} from "ant-design-vue";
import LoadingContainer from "../loading_container.vue";

@Component({
    name: "company-job-overview",
    components: {
        "edit-company-form": EditCompanyForm,
        "loading-container": LoadingContainer,
        "a-checkbox-group": Checkbox.Group,
        "a-input-search": Input.Search,
        "a-pagination": Pagination,
        "a-row": Row,
        "a-col": Col,
        "a-empty": Empty,
        "a-breadcrumb": Breadcrumb,
        "a-breadcrumb-item": Breadcrumb.Item,
        CompanyJobListElement,
    },
})
export default class CompanyJobOverview extends VuePaginatedAnt {
    companyJobs: CompanyJobs[] = [];
    availableContracts: string[] = [];
    filterType: string[] = [];
    total = 0;
    @Inject() locale!: string;

    async mounted(): Promise<void> {
        const data = await companyApi.getContractOfServiceTypes();
        this.availableContracts = data.data.contract_of_service;

        await this.refreshListView();
        const queryFilterType = (this.$route.query.types as string) || "";
        if (queryFilterType) {
            this.filterType.push(...queryFilterType.split(","));
        }
        this.loading = false;
    }

    @Watch("filterType")
    private updateFilterType(values) {
        if (this.$route.query.types !== values.join(",")) {
            this.$router.replace({
                query: {
                    ...this.$route.query,
                    types: values.join(","),
                },
            });
            this.pageSwitch(1);
        }
    }

    get search(): string {
        return (this.$route.query.search as string) || "";
    }

    set search(value: string) {
        if (this.search !== value) {
            this.$router.replace({
                query: {
                    ...this.$route.query,
                    search: value,
                },
            });
            this.pageSwitch(1);
        }
    }

    async refreshListView(): Promise<void> {
        this.loading = true;

        try {
            const data = await companyApi.getCompanyJobs(
                this.search,
                this.filterType,
                this.page
            );
            this.companyJobs = data.data.data;
            this.total = data.data.total;
        } finally {
            this.loading = false;
        }
    }

    private title(job: CompanyJobBase) {
        switch (this.locale) {
            case "nl":
                return job.title_nl;
            case "en":
                return job.title_en;
        }
    }

    private description(job: CompanyJobBase) {
        return this.locale === "nl" ? job.description_nl : job.description_en;
    }

    private viewCompanyJob(jobId: number) {
        return { name: "view-company-job", params: { jobId: jobId } };
    }

    private imageUrl(company_id: number) {
        return Flask.url_for("company.view_logo", { company_id: company_id });
    }
}
</script>
