<template lang="pug">
.row
    h1(v-if="!companyProfileId") Create company profile
    h1(v-if="companyProfileId") Edit profile

    // TODO add buttons for set dates to today
    a-form.col-md-12(:form="form", @submit.prevent="save")
        a-form-item(v-bind="formItemLayout", label="Dutch description")
            vue-simple-mde(
                v-decorator="['description_nl', { rules: [{ required: true, message: 'Please enter the Dutch description.' }]}]"
            )

        a-form-item(v-bind="formItemLayout", label="English description")
            vue-simple-mde(
                v-decorator="['description_en', { rules: [{ required: true, message: 'Please enter the English description.' }]}]"
            )

        a-form-item(v-bind="formItemLayout", label="Contract date")
            a-range-picker(
                v-decorator="['jobDate', {rules: [{ type: 'array', required: true, message: 'Please date range!' }]}]",
                :ranges="ranges"
            )
        a-form-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 8 } } }"
        )
            a-checkbox(
                v-decorator="['enabled',  {valuePropName: 'checked', initialValue: false}]"
            ) Enabled
        .row
            .col-md-6
                a-form-item(
                    :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 8 } } }"
                )
                    a-button-group
                        router-link(
                            :to="$route.meta.from || { name: 'edit-company', params: { companyId: companyId } }",
                            v-slot="{ href, navigate}"
                        )
                            a-button(:href="href", @click="navigate")
                                | Back
                        a-button(type="primary", html-type="submit") Submit
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import moment from "moment";
import { validateAntForm } from "../../utils/form";
import { WrappedFormUtils } from "ant-design-vue/types/form/form";
import { companyApi } from "../../scripts/api/company";
import VueSimpleMde from "../common/markdown-editor.vue";
import {
    Form,
    DatePicker,
    Checkbox,
    Button,
    notification,
} from "ant-design-vue";

@Component({
    components: {
        "vue-simple-mde": VueSimpleMde,
        "a-form": Form,
        "a-form-item": Form.Item,
        "a-range-picker": DatePicker.RangePicker,
        "a-checkbox": Checkbox,
        "a-button": Button,
        "a-button-group": Button.Group,
    },
})
export default class EditCompanyProfileForm extends Vue {
    private loading = false;
    private form: WrappedFormUtils | null = null;
    private companyProfileId: string | null = null;
    private formItemLayout = {
        labelCol: {
            xs: { span: 24 },
            sm: { span: 8 },
        },
        wrapperCol: {
            xs: { span: 24 },
            sm: { span: 16 },
        },
    };

    created(): void {
        this.form = this.$form.createForm(this);
    }

    async mounted(): Promise<void> {
        try {
            const resp = await companyApi.getCompanyProfile(this.companyId);
            const fields: any = resp.data;
            fields["jobDate"] = [
                moment(fields.start_date),
                moment(fields.end_date),
            ];
            delete fields.start_date;
            delete fields.end_date;

            if (fields.description_nl_raw)
                fields.description_nl = fields.description_nl_raw;

            if (fields.description_en_raw)
                fields.description_en = fields.description_en_raw;

            this.form?.setFieldsValue(fields);
            this.companyProfileId = resp.data.id;

            const companyData = await companyApi.getCompany(this.companyId);
            this.ranges["Set to contract"] = [
                moment(companyData.data.contract_start_date),
                moment(companyData.data.contract_end_date),
            ];
        } catch (e) {
            if (e.response.status !== 404) {
                throw e;
            }
        }
    }

    private async save() {
        if (this.loading) return;

        if (!this.form) {
            throw new TypeError("Cannot save without form object.");
        }

        let values;
        try {
            values = await validateAntForm(this.form);
            values["start_date"] = values["jobDate"][0].format("YYYY-MM-DD");
            values["end_date"] = values["jobDate"][1].format("YYYY-MM-DD");
            delete values["jobDate"];
        } catch (e) {
            // Form didn't validate
            return;
        }
        try {
            this.loading = true;

            if (this.companyProfileId) {
                await companyApi.updateCompanyProfile(this.companyId, values);
            } else {
                const resp = await companyApi.setCompanyProfile(
                    this.companyId,
                    values
                );
                this.companyProfileId = resp.data.id;
            }
            notification.success({
                message: "Success",
                description: "Company profile successfully saved.",
            });
        } finally {
            this.loading = false;
        }
    }

    private ranges = {
        "Set to 1 year": [moment(), moment().add(moment.duration(1, "years"))],
    };

    get companyId(): number {
        return parseInt(this.$route.params["companyId"]);
    }
}
</script>
