<template lang="pug">
loading-container(:active="loading")
    h1(v-if="!companyId") Create company
    h1(v-if="companyId") Edit {{ form.getFieldValue('name') }}

    .row
        .col-md-8
            a-form(:form="form", @submit.prevent="save")
                a-form-item(v-bind="formItemLayout", label="Company name")
                    a-input(
                        v-decorator="['name', { rules: [{ required: true, message: 'Please enter the company name.' }] }]"
                    )
                a-form-item(v-bind="formItemLayout", label="Slug")
                    a-input(
                        v-decorator="['slug', { rules: [{ required: true, message: 'Please enter the company slug.' }, {validator: alphaNumValidation}] }]"
                    )
                a-form-item(v-bind="formItemLayout", label="Website")
                    a-input(
                        v-decorator="['website', { rules: [{ required: true, message: 'Please enter the company website.'}, {validator: urlValidation} ] }]"
                    )
                a-form-item(v-bind="formItemLayout", label="Contract date")
                    a-range-picker(
                        v-decorator="['contractDate', {rules: [{ type: 'array', required: true, message: 'Please date range!' }]}]",
                        :ranges="ranges"
                    )
                a-form-item(
                    :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 8 } } }"
                )
                    a-button(type="primary", html-type="submit") Submit

        .col-md-4.company-logo(v-if="companyId")
            img(:src="companyLogoUrl", v-if="companyLogo")

            a-upload(
                name="logo",
                accept="image/*",
                list-type="picture",
                :fileList="fileList",
                :remove="() => (fileList = [])",
                :beforeUpload="beforeUpload"
            )
                a-button
                    a-icon(type="upload")
                    | Select logo

            a-button(
                type="primary",
                @click="uploadLogo",
                :disabled="fileList.length === 0",
                :loading="uploading",
                style="margin-top: 16px"
            )
                | {{ uploading ? 'Uploading' : 'Start Upload' }}

    .row
        .col-md-12(v-if="companyId && form.getFieldValue('name')")
            company-module-overview(
                :companyId="companyId",
                :companySlug="form.getFieldValue('slug')"
            )
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import instance from "../../utils/axios";
import Flask from "../../utils/flask";
import CompanyModuleOverview from "./company_module_overview.vue";
import moment from "moment";
import {
    Button,
    DatePicker,
    Form,
    Icon,
    Input,
    notification,
    Upload,
} from "ant-design-vue";
import {
    alphaNumValidation,
    urlValidation,
    validateAntForm,
} from "../../utils/form";
import { WrappedFormUtils } from "ant-design-vue/types/form/form";
import LoadingContainer from "../loading_container.vue";
import { companyApi } from "../../scripts/api/company";

@Component({
    components: {
        "company-module-overview": CompanyModuleOverview,
        "a-form": Form,
        "a-form-item": Form.Item,
        "a-input": Input,
        "a-icon": Icon,
        "a-button": Button,
        "a-upload": Upload,
        "a-range-picker": DatePicker.RangePicker,
        "loading-container": LoadingContainer,
    },
    name: "edit-company-form",
    methods: {
        alphaNumValidation: alphaNumValidation,
        urlValidation: urlValidation,
    },
})
export default class EditCompanyForm extends Vue {
    private updateTime = new Date();
    private loading = false;
    private uploading = false;
    private form: WrappedFormUtils | null = null;
    private formItemLayout = {
        labelCol: {
            xs: { span: 24 },
            sm: { span: 8 },
        },
        wrapperCol: {
            xs: { span: 24 },
            sm: { span: 16 },
        },
    };
    private companyLogo = false;
    private fileList: any = [];

    private ranges = {
        "Set to 1 year": [moment(), moment().add(moment.duration(1, "years"))],
    };

    created() {
        this.form = this.$form.createForm(this);
    }

    async mounted() {
        await this.getCompany();
    }

    private async getCompany() {
        if (this.companyId) {
            const resp = await companyApi.getCompany(this.companyId);
            this.form!.setFieldsValue({
                name: resp.data.name,
                slug: resp.data.slug,
                website: resp.data.website,
                contractDate: [
                    moment(resp.data.contract_start_date),
                    moment(resp.data.contract_end_date),
                ],
            });
            this.companyLogo = resp.data.logo;
        }
    }

    private beforeUpload(file) {
        this.fileList = [file];
        return false;
    }

    public async uploadLogo() {
        const file = this.fileList[0];

        if (file && file.type.match("image/*")) {
            const formData = new FormData();
            formData.append("file", file);

            try {
                this.uploading = true;
                await instance.put(this.companyLogoUploadUrl, formData);
                this.companyLogo = true;
                this.fileList = [];
                this.updateTime = new Date();
            } catch (e) {
                console.log(e);
            } finally {
                this.uploading = false;
            }
        }
    }

    private async save() {
        let values;
        try {
            values = await validateAntForm(this.form!);
        } catch (e) {
            return;
        }

        try {
            this.loading = true;
            const body = {
                name: values["name"],
                slug: values["slug"],
                website: values["website"],
                contract_start_date: values["contractDate"][0].format(
                    "YYYY-MM-DD"
                ),
                contract_end_date: values["contractDate"][1].format(
                    "YYYY-MM-DD"
                ),
            };

            if (!this.companyId) {
                const resp = await instance.post(
                    Flask.url_for("api.companies", {}),
                    body
                );
                this.$router.replace({
                    name: "edit-company",
                    params: { companyId: resp.data.id },
                });
            } else {
                await instance.put(
                    Flask.url_for("api.company", {
                        company: this.companyId,
                    }),
                    body
                );
            }
            notification.success({
                message: "Success",
                description: "Company successfully saved.",
            });
        } catch (e) {
            console.error(e);
        } finally {
            this.loading = false;
        }
    }

    get companyLogoUploadUrl() {
        return Flask.url_for("api.company_logo", {
            company: this.companyId,
        });
    }

    get companyLogoUrl() {
        if (this.companyLogo) {
            return (
                Flask.url_for("company.view_logo", {
                    company: this.companyId,
                }) + `?${this.updateTime.getTime()}`
            );
        } else {
            return "about:blank";
        }
    }

    get companyId() {
        return this.$route.params["companyId"];
    }
}
</script>

<style scoped lang="sass">
.file-select
    cursor: pointer

#file-input
    display: none

.company-logo img
    margin-bottom: 1em
</style>
