{% extends "base.htm" %}

{% from "macros/form.htm" import render_form %}

{% block title %}Site banner{% endblock %}

{% block page %}
    <div class="row">
        <div class="col admin-page">
            <h1>Site banner</h1>
            <i class="fas fa-arrow-left"></i> <a href="{{ url_for('admin.view') }}">Back</a><br><br>

            <p>
                {{ _('A site-wide banner shown at the top of every page. Not shown when the text is empty. The message field supports the Markdown syntax.') }}
            </p>

            <p>
                {{ render_form(form) }}
            </p>
        </div>
    </div>

{% endblock %}
