<template lang="pug">
div
    a-row
        a-col.edit(
            v-if="alvWrite",
            :lg="{ span: 4, push: alvWrite ? 20 : 0 }",
            :md="{ span: 24 }"
        )
            router-link(
                :to="{ name: 'alv-edit', params: { alvId: alv.id } }",
                v-slot="{ href, navigate}"
            )
                a-button(type="primary", :href="href", @click="navigate")
                    | {{ $t('Edit') }}
        a-col(
            :lg="{ span: alvWrite ? 20 : 24, pull: alvWrite ? 4 : 0 }",
            :md="{ span: 24 }"
        )
            h1.title {{ alv.name[locale] }}

    a-row
        a-col.date(:md="6", :sm="24") {{ date }}
    a-row
        a-col(:md="6", :sm="24")
            alv-details-blocks(:alv="alv", :parsedAlv="parsedAlv")
        a-col.documents-container(:md="18", :sm="24")
            alv-details-documents(:alv="alv", :parsedAlv="parsedAlv")
    a-row(v-if="parsedAlv")
        alv-details-timeline.timeline(:parsedAlv="parsedAlv")
    a-row(v-if="parsedAlv")
        alv-details-present.present(:parsedAlv="parsedAlv")
</template>

<style lang="sass" scoped>
@media(min-width: 768px)
    .documents-container
        padding-left: 2em

@media(max-width: 768px)
    .documents-container
        margin-top: 1.5em

    .timeline
        margin-top: 1.5em


.edit
    text-align: end

.title
    margin: 0

.date
    text-align: center
    font-size: 1.1em
    font-weight: 300
    margin-bottom: 1em
    padding-bottom: 0.5em

// This is so that the border is not the full div's width
.date:after
    content: ""
    position: absolute
    left: 15%
    bottom: 0
    width: 70%
    border-bottom: 1px solid #e8e8e8
</style>

<script lang="ts">
import { Component, Inject, Prop, Vue } from "vue-property-decorator";
import moment from "moment";
import { AlvParseMinutes, AlvResponse } from "../../scripts/api/alv";
import { Button, Col, Row } from "ant-design-vue";
import InfoBlock from "../util/info_block.vue";
import AlvDetailsBlocks from "./alv_details_blocks.vue";
import AlvDetailsDocuments from "./alv_details_documents.vue";
import AlvDetailsTimeline from "./alv_details_timeline.vue";
import { authStore } from "../../store/auth";
import AlvDetailsPresent from "./alv_details_present.vue";

@Component({
    components: {
        "info-block": InfoBlock,
        "alv-details-blocks": AlvDetailsBlocks,
        "alv-details-documents": AlvDetailsDocuments,
        "alv-details-timeline": AlvDetailsTimeline,
        "alv-details-present": AlvDetailsPresent,
        "a-button": Button,
        "a-button-group": Button.Group,
        "a-row": Row,
        "a-col": Col,
    },
})
export default class AlvDetailsItem extends Vue {
    @Prop({ required: true })
    alv: AlvResponse;

    @Prop()
    parsedAlv?: AlvParseMinutes;

    @Inject()
    locale!: string;

    get date() {
        return moment(this.alv.date, undefined, "nl").format("D MMMM Y");
    }

    get alvWrite() {
        return authStore.roles.ALV_WRITE?.has_role;
    }
}
</script>

<i18n src="./alv.json"></i18n>
