<template lang="pug">
a-row.item(
    v-if="alvModel",
    type="flex",
    :gutter="[16]",
    justify="space-between"
)
    a-col.date(:xs="24", :sm="24", :lg="5")
        a-row
            a-col.day(:xs="19", :sm="19", :md="24", :lg="24")
                span {{ alvModel.day }}
            a-col.start-time(:xs="5", v-if="alvModel.startTime")
                span {{ alvModel.startTime }}
    a-col.main(:xs="24", :sm="13", flex="auto")
        .title
            router-link(
                :to="{ name: 'alv-details', params: { alvId: alvModel.id } }",
                v-slot="{ href, navigate}"
            )
                a.title-link(:href="href", @click="navigate") {{ alvModel.name[locale] }}
            a-tooltip(v-if="showIcon()")
                a-icon.minutes-icon(:type="iconType()")
                template(v-slot:title="") {{ iconTooltip() }}
        .presidium
            .avatar-wrapper(v-if="alvModel.chairman")
                a-avatar(:src="avatarLink(alvModel.chairman.id)")
            .avatar-wrapper(v-if="alvModel.secretary")
                a-avatar(:src="avatarLink(alvModel.secretary.id)")
            .presidium-names {{ presidiumNames() }}
    a-col.links(:xs="{ span: 8, offset: 16 }", :sm="{ span: 6, offset: 0 }")
        .enrol(v-if="showSignUpLink")
            a(:href="activityLink()") {{ $t('Sign up') }}
        .more-info
            router-link(
                :to="{ name: 'alv-details', params: { alvId: alvModel.id } }",
                v-slot="{ href, navigate }"
            )
                a(:href="href", @click="navigate") {{ $t('More information') }}
</template>

<style lang="sass" scoped>
@import '../../assets/scss/variables/_app.scss'

.minutes-icon
    display: inline-flex
    align-items: center
    font-size: 0.8em
    margin-left: 0.2em

.links
    display: flex
    flex-direction: column
    text-align: end
    justify-content: space-between

.enrol
    font-weight: bold

    a
        color: #c72d4c

.more-info
    margin-top: auto

.main
    display: flex
    flex-direction: column

.title
    font-size: 1.6em
    font-weight: normal
    line-height: 1.1em
    padding-bottom: 0.4em

.title-link
    color: black

.presidium
    display: flex
    flex-direction: row
    font-size: 0.8em
    color: gray

    *:nth-child(3)
        margin-left: 25px

.presidium-names
    display: flex
    justify-content: center
    flex-direction: column-reverse

.avatar-wrapper
    border: 2px solid $via-blue
    border-radius: 50%

.avatar-wrapper:nth-child(1)
    margin-right: 0.7em

.avatar-wrapper:nth-child(2)
    position: absolute
    left: 25px
    z-index: -1


.date
    color: $via-blue

    *
        line-height: 1.1em

.day
    font-size: 1.6em
    overflow: hidden
    text-overflow: ellipsis

.start-time
    font-weight: bolder
    font-size: 1.5em

@media(max-width: 768px)
    .start-time
        text-align: end

.item
    min-height: 60px
    padding: 1em
    border: 1px solid #e8e8e8
    border-left: 1em solid $via-blue
    border-radius: $border-radius 0 0 $border-radius
</style>

<script lang="ts">
import { Component, Inject, Prop, Vue } from "vue-property-decorator";
import moment from "moment";

import Flask from "../../utils/flask";
import { AlvResponse } from "../../scripts/api/alv";
import { Avatar, Col, Icon, Row, Tooltip } from "ant-design-vue";
import { MultilangString } from "../../types/page";

type AlvViewModel = {
    id: number;
    name: MultilangString;
    date: Date;
    day: string;
    activityId?: number;
    startTime?: string;
    chairman?: {
        id: number;
        name: string;
    };
    secretary?: {
        id: number;
        name: string;
    };
};

@Component({
    components: {
        "a-row": Row,
        "a-col": Col,
        "a-avatar": Avatar,
        "a-icon": Icon,
        "a-tooltip": Tooltip,
    },
})
export default class AlvOverviewItem extends Vue {
    @Prop({ required: true }) alv: AlvResponse;
    @Inject() locale!: string;
    alvModel: AlvViewModel | null = null;

    async mounted() {
        const date = new Date(this.alv.date);

        const formatter = this.locale === "nl" ? "D MMMM" : "MMMM D";

        let startTime = "";

        if (this.alv.activity?.start_time) {
            startTime = new Date(
                this.alv.activity.start_time
            ).toLocaleTimeString("nl", {
                hour: "2-digit",
                minute: "2-digit",
            });
        }

        const alvModel: AlvViewModel = {
            id: this.alv.id!,
            name: this.alv.name,
            date: date,
            day: moment(date, undefined, this.locale).format(formatter),
            activityId: this.alv.activity?.id,
            startTime: startTime,
        };

        if (this.alv.chairman) {
            alvModel.chairman = {
                id: this.alv.chairman.id,
                name: `${this.alv.chairman.first_name}  ${this.alv.chairman.last_name}`,
            };
        }

        if (this.alv.secretary) {
            alvModel.secretary = {
                id: this.alv.secretary.id,
                name: `${this.alv.secretary.first_name}  ${this.alv.secretary.last_name}`,
            };
        }

        this.alvModel = alvModel;
    }

    /**
     * Show icon when minutes are available and the status is either accepted
     * or unknown.
     */
    private showIcon() {
        return this.alv.minutes_file_id;
    }

    private iconType() {
        if (this.alv.minutes_accepted === null) {
            return "file-unknown";
        }

        return this.alv.minutes_accepted ? "file-done" : "file-sync";
    }

    private iconTooltip() {
        if (this.alv.minutes_accepted === null) {
            return this.$t("The status of the minutes is unclear.");
        }

        return this.alv.minutes_accepted
            ? this.$t("The minutes have been accepted.")
            : this.$t("The minutes are available, but not accepted yet.");
    }

    private presidiumNames() {
        const m = this.alvModel;
        if (m?.chairman && m?.secretary) {
            return m.chairman.name + ", " + m.secretary.name;
        } else if (m?.chairman) {
            return m.chairman.name;
        } else if (m?.secretary) {
            return m.secretary.name;
        } else {
            return this.$t("No presidium") as string;
        }
    }

    get showSignUpLink(): boolean {
        if (!this.alvModel?.activityId) {
            return false;
        }
        if (!this.alv.activity?.start_time) {
            return false;
        }

        return new Date(this.alv.activity.start_time) >= new Date();
    }

    private avatarLink(userId) {
        return Flask.url_for("user.view_avatar", { user: userId });
    }

    private activityLink() {
        return Flask.url_for("activity.get_activity", {
            activity: this.alvModel?.activityId,
        });
    }

    private infoLink() {
        return Flask.url_for("alv.view", {
            alv: this.alvModel?.id,
        });
    }
}
</script>

<i18n src="./alv.json"></i18n>
