<template lang="pug">
router-link.router-link(:to="{ name: 'Album', params: { id: album.id } }")
    .album.list-item(
        :style="'background-image: url(' + album.primary_photo + ')'"
    )
        .image-title {{ album.title }}
        .image-date {{ album.description }}
        .image-count {{ album.photos }} photos
</template>

<script lang="ts">
import Vue from "vue";
import * as PhotoTypes from "../../types/photos";
import { Component, Prop } from "vue-property-decorator";

@Component
export default class Album extends Vue {
    @Prop() album: PhotoTypes.Album;
}
</script>

<style lang="scss" scoped>
.album {
    position: relative;
}

.image-title {
    font-size: 18pt;
    word-wrap: break-word;
}

.image-preview > img {
    width: 150px;
}
</style>
