<template lang="pug">
div
    h1 User overview
    a-input-search.w-100.mb-3(
        placeholder="Search user's e-mail or name",
        v-model="search"
    )
    a-table(
        :columns="columns",
        :rowKey="(record) => record.id",
        :dataSource="data",
        :pagination="pagination",
        :loading="loading",
        :bodyStyle="{ 'overflow-x': 'auto' }",
        @change="handleTableChange"
    )
        template(v-slot:member="record")
            a-icon(v-if="record.member", type="check")
        template(v-slot:favourer="record")
            a-icon(v-if="record.favourer", type="check")
        template(v-slot:action="record")
            a(:href="viewProfile(record.id)") View
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import Flask from "../../utils/flask";
import { User } from "../../types/user";
import { VuePaginatedAnt } from "../../utils/VuePaginatedAnt";
import { userApi } from "../../scripts/api/user";
import { Icon, Input, Table } from "ant-design-vue";

@Component({
    name: "user-overview",
    components: {
        "a-input-search": Input.Search,
        "a-table": Table,
        "a-icon": Icon,
    },
})
export default class UserOverview extends VuePaginatedAnt {
    data: User[] = [];
    columns = [
        { title: "E-mail", dataIndex: "email" },
        { title: "First name", dataIndex: "first_name" },
        { title: "Last name", dataIndex: "last_name" },
        { title: "Student ID", dataIndex: "student_id" },
        {
            title: "Member",
            key: "member",
            scopedSlots: { customRender: "member" },
        },
        {
            title: "Favourer",
            key: "favourer",
            scopedSlots: { customRender: "favourer" },
        },
        {
            title: "Action",
            key: "action",
            scopedSlots: { customRender: "action" },
        },
    ];

    async created() {
        await this.refreshListView();
    }

    async refreshListView() {
        this.loading = true;
        try {
            const resp = await userApi.getUsers(this.search, this.page);
            this.data = resp.data.data;
            this.pagination.pageSize = resp.data.page_size;
            this.pagination.total = resp.data.total;
        } finally {
            this.loading = false;
        }
    }

    private viewProfile(user_id: number) {
        return Flask.url_for("user.view_single_user", { user: user_id });
    }
}
</script>
