<template lang="pug">
.row
    .col-12.col-md-3
        h1 {{ $t('Tutoring') }}

        h5 {{ $t('Open requests') }}
        .border.rounded.p-2.mb-2(
            v-for="tutoring in openUserTutorings",
            :key="tutoring.id"
        )
            h6 {{ userTutoringCourses[tutoring.course_id].name }}
            small(v-if="userTutoringCourses[tutoring.course_id].datanose_code") {{ userTutoringCourses[tutoring.course_id].datanose_code }}
            router-link(
                :to="{ name: 'tutoring-details', params: { tutoringId: tutoring.id } }",
                v-slot="{ href, navigate}"
            )
                a-badge.float-right
                    template(v-slot:count="", v-if="tutoring.tutor")
                        a-icon(
                            type="exclamation-circle",
                            style="color: #f5222d"
                        )
                    a-button(size="small", :href="href", @click="navigate") {{ $t('View') }}
        i18n(v-if="!openUserTutorings.length", path="no_requests", tag="div")
            template(v-slot:kind="") {{ $t('open') }}

        h5 {{ $t('Accepted requests') }}
        .border.rounded.p-2.mb-2(
            v-for="tutoring in acceptedUserTutorings",
            :key="tutoring.id"
        )
            h6 {{ userTutoringCourses[tutoring.course_id].name }}
            small(v-if="userTutoringCourses[tutoring.course_id].datanose_code") {{ userTutoringCourses[tutoring.course_id].datanose_code }}
            router-link(
                :to="{ name: 'tutoring-details', params: { tutoringId: tutoring.id } }",
                v-slot="{ href, navigate}"
            )
                a-badge.float-right
                    template(v-slot:count="", v-if="tutoring.tutor")
                        a-icon(
                            type="exclamation-circle",
                            style="color: #f5222d"
                        )
                    a-button(size="small", :href="href", @click="navigate") {{ $t('View') }}
        i18n(
            v-if="!acceptedUserTutorings.length",
            path="no_requests",
            tag="div"
        )
            template(v-slot:kind="") {{ $t('accepted') }}

    .col-12.col-md-9
        div(v-html="description")
        render-page(pageUrl="tutoring", :showTitle="false")
        a-input-search.mb-3.w-100(
            :placeholder="$t('search')",
            v-model="search"
        )
        a-alert.mb-3(v-if="isUnconfirmed")
            template(v-slot:message="")
                i18n(path="unconfirmed_user", tag="div")
                    template(v-slot:here="")
                        a(:href="linkAccountUrl") {{ $t('here') }}
        a-alert.mb-3(type="warning", v-if="dnUnavailable")
            template(v-slot:message="")
                i18n(path="datanose_unavailable", tag="div")
                    template(v-slot:here="")
                        a(:href="linkAccountUrl") {{ $t('here') }}

        a-config-provider
            template(v-slot:renderEmpty="")
                a-empty
                    template(v-slot:description="")
                        i18n(path="search.help")
                            template(v-slot:course.code="")
                                router-link(:to="{ name: 'course-create' }") {{ $t('course.code') }}
            a-table(
                :columns="columns",
                :rowKey="(record) => record.id",
                :dataSource="data",
                :pagination="pagination",
                :loading="loading",
                :bodyStyle="{ 'overflow-x': 'auto' }",
                @change="handleTableChange"
            )
                template(v-slot:action="record")
                    router-link(
                        :to="{ name: 'tutoring-request', query: { courseId: record.id } }",
                        v-slot="{ href, navigate}"
                    )
                        a-button(size="small", :href="href", @click="navigate") {{ $t('Request tutoring') }}
</template>

<style lang="sass"></style>

<script lang="ts">
import { Component } from "vue-property-decorator";
import { VuePaginatedAnt } from "../../utils/VuePaginatedAnt";
import { courseApi } from "../../scripts/api/course";
import { Course } from "../../scripts/api/examination";
import { Tutoring, tutoringApi } from "../../scripts/api/tutoring";
import {
    Alert,
    Badge,
    Button,
    ConfigProvider,
    Empty,
    Icon,
    Input,
    Table,
} from "ant-design-vue";
import Flask from "../../utils/flask";
import RenderPage from "../page/render_page.vue";

@Component({
    components: {
        "a-alert": Alert,
        "a-badge": Badge,
        "a-icon": Icon,
        "a-button": Button,
        "a-input-search": Input.Search,
        "a-table": Table,
        "a-config-provider": ConfigProvider,
        "a-empty": Empty,
        "render-page": RenderPage,
    },
})
export default class TutoringOverview extends VuePaginatedAnt {
    userTutoringCourses: { [courseId: number]: Course } = {};
    userTutorings: Tutoring[] = [];
    data: Course[] = [];
    isUnconfirmed = false;
    dnUnavailable = false;
    title = "";
    description = "";
    linkAccountUrl = Flask.url_for("saml.link_account");

    async mounted(): Promise<void> {
        await this.refreshListView();
        const resp = (await tutoringApi.getUserTutorings()).data;
        const courses = await Promise.all(
            resp.map((value) => courseApi.getCourse(value.course_id))
        );
        courses.forEach(
            (value) => (this.userTutoringCourses[value.data.id] = value.data)
        );
        this.userTutorings = resp;
    }

    async refreshListView(): Promise<void> {
        try {
            this.loading = true;
            if (!this.search) {
                this.data = (await courseApi.getUserCourses()).data;
                this.pagination.pageSize = this.data.length;
                this.pagination.total = this.data.length;

                if (this.data.length) {
                    return;
                }
            }
            const resp = await courseApi.getCourses(
                this.search,
                this.page,
                [],
                []
            );

            this.data = resp.data.data;
            this.pagination.pageSize = resp.data.page_size;
            this.pagination.total = resp.data.total;
        } catch (error) {
            switch (error.response.status) {
                case 409:
                    /* Catch BusinessRuleException, thrown when studentID is unconfirmed. */
                    this.isUnconfirmed = true;
                    break;
                case 503:
                    /* Catch ServiceUnavailableException, thrown when Datanose has a 5xx error. */
                    this.dnUnavailable = true;
                    break;
                default:
                    /* Throw unexpected errors. */
                    throw error;
            }
        } finally {
            this.loading = false;
        }
    }
    get openUserTutorings(): Tutoring[] {
        return this.userTutorings.filter((value) => !value.tutor);
    }
    get acceptedUserTutorings(): Tutoring[] {
        return this.userTutorings.filter((value) => !!value.tutor);
    }
    private columns = [
        {
            title: this.$t("Course"),
            dataIndex: "name",
        },
        {
            title: this.$t("Datanose code"),
            dataIndex: "datanose_code",
        },
        {
            title: this.$t("Tutoring"),
            key: "action",
            scopedSlots: { customRender: "action" },
        },
    ];
}
</script>
<i18n src="./tutoring_overview.json"></i18n>
