<template lang="pug">
loading-container(:active="loading")
    a-breadcrumb
        a-breadcrumb-item DOMjudge
        a-breadcrumb-item
            a(:href="overviewUrl") {{ $t('contests') }}
        a-breadcrumb-item
            a(:href="contestUrl") {{ name }}
        a-breadcrumb-item {{ $t('contest.edit') }}

    legend {{ name }}

    a-form(:form="form", @submit.prevent="save")
        a-form-item(
            v-bind="formItemLayout",
            :label="$t('banner')",
            :extra="$t('banner.extra')"
        )
            image-cropper-modal(
                :currentFilePath="bannerImageUrl",
                :showRemoveButton="true",
                :initialAspectRatio="13 / 2",
                :mimeType="'image/png'",
                @blob="setBannerBlob"
            )

        a-form-item(v-bind="formItemLayout", :label="$t('banner.url')")
            a-input(
                v-decorator="['banner_url', { rules: [{validator: urlOptionalValidation, message: $t('banner.url.error.format')}, {max: 512, message: $t('banner.url.error.length')} ] }]",
                :disabled="!hasBanner"
            )

        a-form-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
        )
            a-button-group
                a-button(:href="contestUrl") {{ $t('back') }}
                a-button(type="primary", html-type="submit") {{ $t('save') }}
</template>

<script lang="ts">
import Component from "vue-class-component";
import Vue from "vue";
import Flask from "../../utils/flask";
import { domjudgeApi } from "../../scripts/api/domjudge";
import LoadingContainer from "../loading_container.vue";
import { Breadcrumb, Button, Form, Input, notification } from "ant-design-vue";
import { WrappedFormUtils } from "ant-design-vue/types/form/form";
import ImageCropperModal from "../form/image_cropper_modal.vue";
import { urlOptionalValidation, validateAntForm } from "../../utils/form";
import { DOMjudgeContestSettings } from "../../types/domjudge";

@Component({
    components: {
        "loading-container": LoadingContainer,
        "a-form": Form,
        "a-form-item": Form.Item,
        "a-input": Input,
        "a-breadcrumb": Breadcrumb,
        "a-breadcrumb-item": Breadcrumb.Item,
        "a-button": Button,
        "a-button-group": Button.Group,
        "image-cropper-modal": ImageCropperModal,
    },
    methods: {
        urlOptionalValidation: urlOptionalValidation,
    },
})
export default class ContestEditForm extends Vue {
    private overviewUrl = Flask.url_for("domjudge.contest_list");
    private contestUrl = "";

    private form: WrappedFormUtils | null = null;
    private formItemLayout = {
        labelCol: {
            xs: { span: 24 },
            sm: { span: 5 },
        },
        wrapperCol: {
            xs: { span: 24 },
            sm: { span: 19 },
        },
    };

    private loading = true;
    private name = "";
    private hasBanner = false;
    private bannerHasChanged = false;
    private bannerImageUrl: string | null = null;
    private bannerBlob: Blob | null = null;

    created() {
        this.form = this.$form.createForm(this);
    }

    async mounted() {
        this.contestUrl = Flask.url_for("domjudge.contest_view", {
            contest_id: this.contestId,
        });
        await this.updateContest();
        this.loading = false;
    }

    private async updateContest() {
        const resp = (await domjudgeApi.getContest(this.contestId)).data;

        this.name = resp.name;
        this.hasBanner = !!resp.banner_file_id;
        this.bannerImageUrl = this.hasBanner
            ? Flask.url_for("domjudge.banner", {
                  contest_id: this.contestId,
              })
            : null;

        this.form!.setFieldsValue({
            banner_url: resp.banner_url,
        });
    }

    get contestId() {
        return parseInt(this.$route.params.contestId);
    }

    private setBannerBlob(blob: Blob | null) {
        this.bannerBlob = blob;
        this.hasBanner = !!this.bannerBlob;
        this.bannerHasChanged = true;
    }

    private async save() {
        let values;
        try {
            values = await validateAntForm(this.form!);
        } catch (e) {
            return; // Form didn't validate
        }

        try {
            this.loading = true;

            // If something about the banner has been changed
            if (this.bannerHasChanged) {
                // If banner still set, update it
                if (this.hasBanner) {
                    await domjudgeApi.setContestBanner(
                        this.contestId,
                        this.bannerBlob!
                    );
                } else if (this.bannerImageUrl) {
                    // If we had a banner initially, the user removed it
                    // so we need to delete it.
                    await domjudgeApi.deleteContestBanner(this.contestId);
                }

                this.bannerHasChanged = false;
            }

            const settings: DOMjudgeContestSettings = {
                banner_url: values["banner_url"],
            };

            await domjudgeApi.saveContestSettings(this.contestId, settings);

            notification.success({
                message: this.$t("save.success.title") as string,
                description: this.$t("save.success") as string,
            });
        } catch (e) {
            console.error(e);
            notification.error({
                message: this.$t("save.error.title") as string,
                description: this.$t("save.error") as string,
            });
        } finally {
            this.loading = false;
        }
    }
}
</script>

<i18n src="./ContestEditForm.json"></i18n>
