{% extends "content.htm" %}

{% block title %}Error 403{% endblock %}

{% block content %}
    <h1>{{ _('Error 403 - Forbidden') }}</h1>

    <div class="row">
        <div class="col-md">
            <p>
                {{ _('You don\'t have permission to access this page.') }}
            </p>
        </div>
    </div>
{% endblock %}
