{% extends "content.htm" %}

{% block title %}Error 404{% endblock %}

{% block content %}
    <h1>{{ _('Error 404 - Not found') }}</h1>

    <div class="row">
        <div class="col-md">
            <p>
                {{ _('The requested URL was not found.') }}
            </p>

            <br>
            <br>
            <img src="{{ url_for('static', filename='img/404.png') }}" style="max-width: 300px;" alt="{{ _('Oh no! It looks like you have found a dead Link!') }}">
            <br>
            <i>{{ _('Oh no! It looks like you have found a dead Link!') }}</i>

            {% if can_write %}
                <br>
                <br>
                <p>
                    <a href='{{ url_for('pages.view', path=request.path) }}'>
                        <i class='far fa-edit'></i> <i>{{ _('Create a page for this URL in the page overview') }}</i>
                    </a>
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}
