<template>
    <loading-container :active="loading">
        <a-breadcrumb>
            <a-breadcrumb-item><a href="/admin/">Admin</a></a-breadcrumb-item>
            <a-breadcrumb-item>
                <router-link :to="{ name: 'pages' }"> Pages </router-link>
            </a-breadcrumb-item>
            <a-breadcrumb-item>{{ title }}</a-breadcrumb-item>
        </a-breadcrumb>
        <h1>{{ title }}</h1>
        <a-form :form="form" @submit.prevent="save">
            <legend>Page</legend>
            <a-form-item v-if="!pageId" v-bind="formItemLayout" label="Type">
                <a-radio-group
                    v-decorator="['type']"
                    @change="(e) => (pageType = e.target.value)"
                >
                    <a-radio-button value="page"> Page </a-radio-button>
                    <a-radio-button value="committee">
                        Committee
                    </a-radio-button>
                </a-radio-group>
            </a-form-item>
            <a-form-item
                v-bind="formItemLayout"
                label="Path"
                extra="Must not start and end with a slash (/)"
            >
                <a-input
                    v-decorator="[
                        'path',
                        {
                            rules: [
                                {
                                    required: true,
                                    message: 'Please enter the path.',
                                },
                                { validator: pathValidation },
                            ],
                        },
                    ]"
                >
                    <template #addonBefore="">
                        <span v-if="pageType === 'committee'">/commissie/</span
                        ><span v-else>/</span>
                    </template>
                </a-input>
            </a-form-item>
            <a-form-item v-bind="formItemLayout" label="Dutch title">
                <a-input
                    v-decorator="[
                        'title_nl',
                        {
                            rules: [
                                {
                                    required: true,
                                    message: 'Please enter the Dutch title.',
                                },
                            ],
                        },
                    ]"
                />
            </a-form-item>
            <a-form-item v-bind="formItemLayout" label="English title">
                <a-input
                    v-decorator="[
                        'title_en',
                        {
                            rules: [
                                {
                                    required: true,
                                    message: 'Please enter the English title.',
                                },
                            ],
                        },
                    ]"
                />
            </a-form-item>
            <a-form-item v-bind="formItemLayout" label="Dutch content">
                <vue-simple-mde
                    v-decorator="[
                        'content_nl',
                        {
                            rules: [
                                {
                                    required: true,
                                    message: 'Please enter the Dutch content.',
                                },
                            ],
                        },
                    ]"
                />
            </a-form-item>
            <a-form-item v-bind="formItemLayout" label="English content">
                <vue-simple-mde
                    v-decorator="[
                        'content_en',
                        {
                            rules: [
                                {
                                    required: true,
                                    message:
                                        'Please enter the English content.',
                                },
                            ],
                        },
                    ]"
                />
            </a-form-item>
            <a-form-item
                v-bind="formItemLayout"
                label="Change message"
                extra="Short description of what was updated for the history log."
            >
                <a-input
                    v-decorator="[
                        'revision_comment',
                        {
                            rules: [
                                {
                                    required: true,
                                    message:
                                        'Please enter the revision comment.',
                                },
                            ],
                        },
                    ]"
                />
            </a-form-item>
            <a-form-item
                :wrapper-col="{
                    ...formItemLayout.wrapperCol,
                    ...{ xs: { offset: 0 }, md: { offset: 5 } },
                }"
            >
                <a-checkbox
                    v-decorator="[
                        'require_membership_to_view',
                        { valuePropName: 'checked', initialValue: false },
                    ]"
                >
                    Require membership for viewing
                </a-checkbox>
            </a-form-item>
            <a-form-item
                :wrapper-col="{
                    ...formItemLayout.wrapperCol,
                    ...{ xs: { offset: 0 }, md: { offset: 5 } },
                }"
            >
                <a-checkbox
                    v-decorator="[
                        'hide_in_sitemap',
                        { valuePropName: 'checked', initialValue: false },
                    ]"
                >
                    Hide in sitemap
                </a-checkbox>
            </a-form-item>
            <div>
                <a-form-item
                    :wrapper-col="{
                        ...formItemLayout.wrapperCol,
                        ...{ xs: { offset: 0 }, md: { offset: 4 } },
                    }"
                >
                    <a-alert
                        v-if="pageDeleted"
                        type="warning"
                        message="This page has been deleted, saving it will publish it again."
                    />
                    <a-button-group>
                        <router-link
                            v-slot="{ href, navigate }"
                            :to="($route.meta.from &amp;&amp; $route.meta.from.name) || { name: 'pages' }"
                        >
                            <a-button :href="href" @click="navigate">
                                Back
                            </a-button>
                        </router-link>
                        <a-button type="primary" @click="save"> Save </a-button>
                        <a-button type="primary" @click="saveAndRedirect">
                            Save and view
                        </a-button>
                    </a-button-group>
                </a-form-item>
            </div>
        </a-form>
    </loading-container>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { PageRevision } from "../../types/page";
import Flask from "../../utils/flask";
import VueSimpleMde from "../common/markdown-editor.vue";
import {
    pathValidation,
    previewRender,
    validateAntForm,
} from "../../utils/form";
import FormUserField from "../form/form_user_field.vue";
import FormGroupField from "../form/form_group_field.vue";
import { WrappedFormUtils } from "ant-design-vue/types/form/form";
import { pageApi } from "../../scripts/api/page";
import LoadingContainer from "../loading_container.vue";
import {
    Alert,
    Breadcrumb,
    Button,
    Checkbox,
    Form,
    Input,
    notification,
    Radio,
} from "ant-design-vue";

@Component({
    components: {
        "loading-container": LoadingContainer,
        "a-form": Form,
        "a-form-item": Form.Item,
        "a-radio-group": Radio.Group,
        "a-radio-button": Radio.Button,
        "a-input": Input,
        "a-alert": Alert,
        "a-button-group": Button.Group,
        "a-button": Button,
        "a-checkbox": Checkbox,
        "a-breadcrumb": Breadcrumb,
        "a-breadcrumb-item": Breadcrumb.Item,
        "form-user-field": FormUserField,
        "form-group-field": FormGroupField,
        "vue-simple-mde": VueSimpleMde,
    },
    methods: {
        previewRender: previewRender,
        pathValidation: pathValidation,
    },
})
export default class EditPage extends Vue {
    private pageType = "page";
    private pageDeleted = true;

    private loading = true;
    private form: WrappedFormUtils | null = null;
    private formItemLayout = {
        labelCol: {
            xs: { span: 24 },
            sm: { span: 5 },
        },
        wrapperCol: {
            xs: { span: 24 },
            sm: { span: 19 },
        },
    };

    get pageId() {
        return parseInt(this.$route.params["pageId"]) || null;
    }

    get title(): string {
        if (!this.pageId) return "Create page";
        else if (this.pageType === "committee") return "Edit committee page";
        return "Edit page";
    }

    created() {
        this.form = this.$form.createForm(this);
    }

    async mounted() {
        try {
            if (this.pageId !== null) {
                const resp = (await pageApi.getPage(this.pageId)).data;
                this.pageType = resp.type!;
                this.pageDeleted = !!resp.deleted;
                let path = resp.path;
                if (this.pageType == "committee") {
                    path = path.substring("commissie/".length);
                }
                this.form!.setFieldsValue({
                    type: this.pageType,
                    path: path,
                    require_membership_to_view: resp.require_membership_to_view,
                    hide_in_sitemap: resp.hide_in_sitemap,
                });

                const respRevision = (
                    await pageApi.getLatestRevision(this.pageId)
                ).data;
                this.form!.setFieldsValue({
                    title_nl: respRevision.title.nl,
                    title_en: respRevision.title.en,
                    content_nl: respRevision.content.nl,
                    content_en: respRevision.content.en,
                });
            } else {
                this.pageDeleted = false;

                let path = this.$route.query.path;

                if (typeof path == "string") {
                    // Cut off the first / if it exists, as asked for in the form
                    if (path.charAt(0) == "/") {
                        path = path.substring(1);
                    }

                    this.form!.setFieldsValue({
                        path: path,
                    });
                }
            }
        } finally {
            this.loading = false;
        }
    }

    private async save(): Promise<boolean> {
        if (this.loading) return false;
        let values;
        try {
            values = await validateAntForm(this.form!);
        } catch (e) {
            return false; // Form didn't validate
        }

        try {
            this.loading = true;
            let path = values.path;
            if (this.pageType == "committee") {
                path = `commissie/${path}`;
            }
            const pageBody = {
                require_membership_to_view: !!values.require_membership_to_view,
                hide_in_sitemap: !!values.hide_in_sitemap,
                path: path,
            };
            if (this.pageId === null) {
                pageBody["type"] = this.pageType;
            }

            const revisionBody: PageRevision = {
                title: {
                    en: values.title_en,
                    nl: values.title_nl,
                },
                content: {
                    en: values.content_en,
                    nl: values.content_nl,
                },
                revision_comment: values.revision_comment,
            };

            if (!this.pageId) {
                const resp = (await pageApi.createPage(pageBody)).data;
                // We need to await the route replacement, as the revision creation depends on
                // the page id, which is retrieved from the route parameters.
                await this.$router.replace(
                    Flask.url_for("pages.view", { page: resp.id })
                );
            } else {
                await pageApi.updatePage(this.pageId, pageBody);
            }
            await pageApi.newRevision(this.pageId!, revisionBody);
            notification.success({
                message: "Success",
                description: "Page successfully saved.",
            });
            return true;
        } finally {
            this.loading = false;
        }
    }

    public async saveAndRedirect() {
        if (await this.save()) {
            let path = this.form!.getFieldValue("path");
            if (this.pageType == "committee") {
                path = `commissie/${path}`;
            }
            // Wait 300ms to navigate to the next page, to show the notification.
            // The delay can be removed when the news.view page is in vue.
            setTimeout(() => (window.location.href = `/${path}`), 300);
        }
    }
}
</script>
