<!DOCTYPE html>
<html lang="nl">
<head>
    <title>{{ _('Activities this week') }} - via</title>
    <style>
        @font-face {
            src: url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro');
            font-family: 'Source Sans Pro';
            font-style: normal;
        }

        * {
            box-sizing: border-box;
            cursor: none;
        }

        html, body, main {
            height: 100%;
            margin: 0;
            padding: 0;

            overflow: hidden;
            font-family: 'Source Sans Pro', sans-serif;

            background-color: #fff;
            color: #212529;
        }

        main {
            display: flex;
            flex-direction: column;
        }

        header {
            height: 12vh;
            margin: 1vh 1vw;
            display: block;

            font-size: 1em;
            line-height: 2em;
        }

        header .calendar-name {
            font-size: 3.0em;
            font-weight: 600;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px;
            width: 100%;
        }

        header .calendar-name img {
            margin-right: auto;
        }

        header .calendar-name span {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        .day-header-placeholder {
            width: 5em;
        }

        .day-headers {
            display: flex;
            margin: 0 0 1em 0;
        }

        .day-headers .day-header {
            flex: 1;
            text-align: center;
            line-height: 1.5em;
            font-size: 1.4em;

            border-bottom: 2px solid #e8e8e8;
            padding: 0 0 0.5em 0;
            margin: 0 1.5em;
        }

        .day-headers .day-header.today {
            font-weight: 600;
            color: #304ba3;
        }

        .single-day {
            display: flex;
            height: 100%;
        }

        .single-day .single-day-column {
            flex: 1;
            height: 100%;
            position: relative;
            display: grid;
        }

        .single-day .timestamps {
            flex-basis: 5em;
            flex-grow: 0;
            flex-shrink: 0
        }

        .single-day .single-day-column .day-hour-line {
            border-bottom: #e8e8e8 1px solid;
            position: absolute;
            width: 100%;
            height: 1px;
        }

        .day-text {
            font-style: italic;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .single-day .hour-line {
            border-bottom: #da291c 1px solid;
            position: absolute;
            width: 100%;
            height: 1px;
        }

        .multi-day {
            padding: 4px 0;
            background: #f4f4f4;
            margin-left: 5em;
        }

        .multi-day .multi-day-row {
            display: flex;
        }

        .multi-day .multi-day-empty-column {
            flex: 1;
        }

        .activity {
            min-height: 3em;

            padding: 4px;
            position: relative;

            background-color: #304ba3;
            border: 1px solid #e8e8e8;
            border-left: .50em solid #304ba3;
            border-radius: .5em;
        }

        .activity.past {
            opacity: 0.6;
        }

        .activity .activity-name {
            font-size: 1.5em;
            display: block;
            vertical-align: top;
            color: white;
        }

        .activity.short .activity-name {
            display: inline;
        }

        .activity .activity-time {
            color: white;
        }

        .single-day .activity {
            min-height: 0;
            grid-row: 1;
            overflow: hidden;
            overflow-wrap: anywhere;
            margin: 0 4px 0 0
        }

        .multi-day .activity {
            min-height: 1em;
            margin: 0;
            padding: 0;
        }

        .multi-day .activity-name {
            margin: 5px 10px;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
<main>
    <header>
        <div class="calendar-name">
            <img
                src="/static/img/logo.svg"
                alt="via" height="80"
            >
            <span>  {{ _('Activities this week') }}</span>
        </div>
    </header>

    <div class="day-headers">
        <div class="day-header-placeholder"></div>
        {% for weekday, month_day, is_today in days_description %}
            <span class="day-header{{ " today" if is_today else "" }}">
                <b>{{ month_day }}</b><br />
                {{ weekday }}
            </span>
        {% endfor %}
    </div>

    {% if multi_day_activities %}
        <div class="multi-day">
            {% for row in multi_day_activities %}
                <div class="multi-day-row">
                    {% for i_day in range(duration_days) %}
                        {% for activity in row if activity.starting_day == i_day %}
                            {% if activity.is_visible %}
                                <div class="activity{{ " past" if activity.is_past else "" }}"
                                     style="flex: {{ activity.duration_days }}"
                                >
                                    <span class="activity-name">{{ activity.name }}</span>
                                </div>
                            {% else %}
                                <div class="multi-day-empty-column"></div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="single-day">
        <div class="single-day-column timestamps">
            {% for x in range(0, number_of_hours) %}
                <div class="day-hour-line" style="top: {{ (x / number_of_hours) * 100 }}%">
                </div>
                <div class="day-text">
                    {{ "{time}:00".format(time=start_hour +x) }}
                </div>
            {% endfor %}
        </div>
        {% for i_day in range(duration_days) %}
            <div class="single-day-column">
                {% for x in range(0, number_of_hours) %}
                    <div class="day-hour-line" style="top: {{ (x / number_of_hours) * 100 }}%"></div>
                {% endfor %}
                {% if hour_line_position >= 0.0 %}
                    <div class="hour-line" style="top: {{ hour_line_position * 100 }}%"></div>
                {% endif %}
                {% for row in single_day_activities %}
                    {% for activity in row if activity.starting_day == i_day %}
                        <div
                            class="activity {{ "past" if activity.is_past else "" }} {{ "short" if activity.is_short else "" }}"
                            style="top: {{ activity.view_top_spacing }}%;
                                height: {{ activity.view_height }}%;
                                {% if activity.has_overlapping_activities %}
                                    grid-column: {{ activity.cell + 1 }};
                                {% else %}
                                    grid-column-start: 1;
                                    grid-column-end: 100;
                                {% endif %}
                                "
                        >
                            <span class="activity-name">{{ activity.name }}</span>
                            <span class="activity-time">{{ activity.time_start }} - {{ activity.time_end }}</span>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</main>
</body>
</html>
