{% extends "base/nl.html" %}

{% block title -%}
    Pimpy - Nieuwe taken toegevoegd
{%- endblock %}

{% block content -%}
    <p>
        Er zijn nieuwe Pimpy-taken aan jou toegewezen in groep <b>{{ group.name }}</b>:
    </p>
    <ul>
        {%- for task in tasks %}
            <li>{{ task.title }}</li>
        {%- endfor %}
    </ul>

    <p>
        Je kan al je huidige taken bekijken op <a href="{{ view_tasks_url }}">Pimpy</a>.
    </p>
{%- endblock %}
