{% extends 'base.htm' %}

{% block title %}
    {{ _('Contests') }}
{% endblock %}

{% block page %}
<h1>{{ _('Contests') }}</h1>

    <div class='table-responsive'>
        <table class='table table-bordered'>
            <thead>
                <tr>
                    <th>{{ _('Name') }}</th>
                    <th>{{ _('Start time') }}</th>
                    <th>{{ _('End time') }}</th>
                </tr>
            </thead>
            <tbody>
                {% if not contests %}
                    <tr>
                        <td valign="top" colspan="9">
                            {{ _('No contests found') }}
                        </td>
                    </tr>
                {% else %}
                {% for contest in contests %}
                    <tr>
                        <td>
                            <a href="{{ url_for('domjudge.contest_view', contest_id=contest.id) }}">
                                {{ contest.name }}
                            </a>
                        </td>
                        <td>{{ contest.start_time | datetime }}</td>
                        <td>{{ contest.end_time | datetime }}</td>
                    </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}
