{% extends "base.htm" %}

{% block title %}
    DOMjudge server configuration check
{% endblock %}

{% macro render_badge(text, color) %}
    <h5 class="d-inline">
        <span class="badge badge-{{ color }} badge-pill float-right">
            {{ text }}
        </span>
    </h5>
{% endmacro %}

{% macro render_badge_boolean(bool) %}
    {%- if bool -%}
    {{ render_badge('Yes', 'success') }}
    {%- else -%}
    {{ render_badge('No', 'danger') }}
    {%- endif -%}
{% endmacro %}

{% macro render_badge_gray(text) %}
{{ render_badge(text, 'secondary') }}
{% endmacro %}

{% block page %}
    <legend>DOMjudge server configuration check</legend>
    <hr>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">

                <ul class="list-group mb-2">
                    <li class="list-group-item">
                        Can reach REST API:
                        {{ render_badge_boolean(result.can_reach_api) }}
                    </li>
                    <li class="list-group-item">
                        DOMjudge version:
                        {%- if result.can_reach_api and result.domjudge_version -%}
                            {{ render_badge(result.domjudge_version, 'info') }}
                        {%- else -%}
                            {{ render_badge_gray('Unknown') }}
                        {%- endif -%}
                    </li>
                    <li class="list-group-item">
                        Can login with admin user:
                        <br />
                        <small>Using HTTP basic authentication for API requests:</small>
                        {%- if not result.can_reach_api -%}
                            {{ render_badge_gray('Unknown') }}
                        {%- else -%}
                            {{ render_badge_boolean(result.can_login_with_admin_user) }}
                        {%- endif -%}
                        <br />
                        <small>Using X-Headers authentication for non-API requests:</small>
                        {%- if not result.can_reach_api -%}
                            {{ render_badge_gray('Unknown') }}
                        {%- else -%}
                            {{ render_badge_boolean(result.can_login_with_admin_user_nonapi) }}
                        {%- endif -%}
                    </li>
                    <li class="list-group-item">
                        Admin user has 'Administrative User' role:
                        {%- if not result.can_login_with_admin_user -%}
                            {{ render_badge_gray('Unknown') }}
                        {%- else -%}
                            {{ render_badge_boolean(result.admin_user_has_admin_role) }}
                        {%- endif -%}
                    </li>
                    <li class="list-group-item">
                        Number of viaduct contests:
                        {%- if not result.can_reach_api -%}
                            {{ render_badge_gray('Unknown') }}
                        {%- else -%}
                            {{ render_badge(result.num_contests, 'info') }}
                        {%- endif -%}
                    </li>
                    <li class="list-group-item">
                        Group ID of <pre class="d-inline">viaduct_user</pre> group:
                        {%- if not result.can_login_with_admin_user -%}
                            {{ render_badge_gray('Unknown') }}
                        {%- elif result.num_contests == 0 -%}
                            {{ render_badge_gray('Unknown') }}
                            {{ render_badge('Requires at least one viaduct contest to retrieve.', 'warning') }}
                        {%- elif not result.viaduct_user_group_exists -%}
                            {{ render_badge('Group not found', 'danger') }}
                        {%- else -%}
                            {{ render_badge(result.viaduct_user_group_id, 'info') }}
                        {%- endif -%}
                    </li>
                </ul>
                <a href="{{ url_for('domjudge.contest_list') }}" class="btn btn-primary">
                    <i class="fas fa-list"></i>
                    Contests overview
                </a>
            </div>
        </div>
    </div>
{% endblock %}
